.identica__change {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    background: transparent url('../../../images/change.svg') no-repeat center;  
    background-size: 10px;
    transition: all 0.3s ease;
  }
  
  .identica__change:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 644px) {
    .identica__change {
      width: 18px;
      height: 18px;
      background-size: 7.5px;
    }
  }