.header__logo {
    margin: 0 auto 41px auto;
    width: 142px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    object-fit: cover;
    aspect-ratio: 1/1;
  }
  
  @media screen and (max-width: 425px) {
    .header__logo {
      margin: 0 auto 31px 27px;
      width: 103px;
      height: 25px;
    }
  }