.cards__like {
    padding: 0;
    margin: 0 0 5px 0;
    width: 22px;
    height: 19px;
    border: none;
    background: transparent url('../../../images/12.svg') no-repeat center;
    background-size: 22px 19px;
    transition: all 0.3s ease;
  }
  
  .cards__like:hover {
    opacity: 0.5;
    cursor: pointer;
  }