.cards__like {
    margin: 0 0 5px 0;
    padding: 0;
    min-width: 22px;
    min-height: 19px;
    border: none;
    background: transparent url('../../../images/Vector\ \(2\).png') no-repeat center;
    transition: all 0.3s ease;
  }
  
  .cards__like:hover {
    opacity: 0.4;
    cursor: pointer;
  }